@import "tailwindcss";

:root {
  --primary-color: #00c336;
  --secondary-color: #6cc04b;
  --bg-light-blue: #77d2e8;
  --text-black-color: #292929;
}

.josefin-sans {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.container-x {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-family: "DM Sans", sans-serif;
}

.Toastify__toast-container {
  z-index: 999999 !important;
}
